[package]
name = "calculator"
version = "0.22.0"
authors = ["Niko Matsakis <niko@alum.mit.edu>"]
workspace = "../.." # <-- We added this and everything after!
edition = "2021"

[build-dependencies]
lalrpop = { version = "0.22.0", path = "../../lalrpop" }

[dependencies]
lalrpop-util = { version = "0.22.0", path = "../../lalrpop-util", features = [
    "lexer",
    "unicode",
] }
