[package]
name = "calculator"
version = "0.12.5"
authors = ["Niko Matsakis <niko@alum.mit.edu>"]
build = "build.rs" # <-- We added this and everything after!
workspace = "../.."

[build-dependencies]
lalrpop = { version = "0.12.0", path = "../../lalrpop" }

[dependencies]
lalrpop-util = { version = "0.12.0", path = "../../lalrpop-util" }
