[package]
name = "lalrpop"
version = "0.15.2" # LALRPOP
description = "convenient LR(1) parser generator"
repository = "https://github.com/lalrpop/lalrpop"
readme = "../README.md"
keywords = ["parser", "generator", "LR", "yacc", "grammar"]
categories = ["parsing"]
license = "Apache-2.0/MIT"
authors = ["Niko Matsakis <niko@alum.mit.edu>"]
build = "build.rs"
workspace = ".."

[lib]
doctest = false

[dependencies]
ascii-canvas = "1.0"
atty = "0.1.2"
bit-set = "0.4.0"
diff = "0.1.9"
docopt = "0.8"
ena = "0.5"
itertools = "0.7"
regex = "0.2.1"
regex-syntax = "0.4.0"
petgraph = "0.4.4"
serde = "1.0"
serde_derive = "1.0"
string_cache = "0.7.1"
term = "0.4.5"
unicode-xid = "0.1"
sha2 = "0.7.0"
digest = { version = "0.7", features = ["std"]}

[dev-dependencies]
rand = "0.4"

[dependencies.lalrpop-util]
path = "../lalrpop-util"
version = "0.15.2" # LALRPOP

[build-dependencies.lalrpop-snap]
path = "../lalrpop-snap"
version = "0.15.2" # LALRPOP
