[package]
name = "lalrpop"
version = "0.12.0" # LALRPOP
description = "convenient LR(1) parser generator"
repository = "https://github.com/nikomatsakis/lalrpop"
readme = "../README.md"
keywords = ["parser", "generator", "LR", "yacc", "grammar"]
license = "Apache-2.0/MIT"
authors = ["Niko Matsakis <niko@alum.mit.edu>"]
build = "build.rs"

[workspace]
members = [
        "../lalrpop-test",
        "../lalrpop-snap",
        "../lalrpop-intern",
        "../lalrpop-util",
        "../doc/calculator",
]

[lib]
doctest = false

[dependencies]
atty = "0.1.2"
bit-set = "0.3.0"    
bitflags = "0.4.0"
diff = "0.1"
docopt = "0.6"
itertools = "0.3"
regex = "0.1"
regex-syntax = "0.2"
petgraph = "0.1.11"
rustc-serialize = "0.3"
term = "0.4.4"
unicode-xid = "0.0.2"
        
[dev-dependencies]
rand = "0.3"

[dependencies.lalrpop-util]
path = "../lalrpop-util"
version = "0.12.0" # LALRPOP

[dependencies.lalrpop-intern]
path = "../lalrpop-intern"
version = "0.12.0" # LALRPOP

[build-dependencies.lalrpop-snap]
path = "../lalrpop-snap"
version = "0.12.0" # LALRPOP

# Enable codegen units: this is probably not the optimal way to do it,
# but codegen units helps a lot with compiling lrgrammar.rs (I think).

[profile.dev]
codegen-units = 4

[profile.test]
codegen-units = 4