name: Test

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  merge_group:

env:
  CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - "1.64"
          - stable
          - beta
          - nightly
        cargo-update:
          - true
          - false
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          components: rustfmt
      - name: Install cargo-hack
        uses: taiki-e/install-action@cargo-hack
      - name: Update
        if: matrix.cargo-update
        run: cargo update
      - name: Run tests
        run: ./tools/ci.sh
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt clippy
      - name: Run rustfmt check
        run: cargo fmt --all -- --check
      - name: Run clippy
        run: cargo clippy --all --all-targets -- -D warnings
